<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600,900|Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <link rel="stylesheet" href="/estilos.css">
    <title>Insert title here</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container mt-4">
    <a href="/new" class="btn btn-warning">Insert player</a>
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>PLAYS</th>
            <th>PLAYS WON</th>
            <th>RANKING</th>
        </tr>
        </thead>
        <tbody class="tbody">
        <tr th:each="list:${listUsers}">
            <td th:text="${list.idUser}"></td>
            <td th:text="${list.userName}"></td>
            <td th:text="${list.counterPlays}"></td>
            <td th:text="${list.playsWon}"></td>
            <td th:text="${list.ranking}"></td>

            <td>
                <a th:href="@{|/play/ ${list.getIdUser()}}" class="btn btn-warning">Play</a>
                <a th:href="@{|/play_list/ ${list.getIdUser()}}" class="btn btn-warning">List of Plays</a>
                <a th:href="@{|/editar/ ${list.getIdUser()}}" class="btn btn-warning">Edit</a>
                <a th:href="@{|/deletePicture/ ${list.getIdUser()}}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<script src="/static/popup.js"></script>
</body>
</html>
